<div class="row">
  <div class="col-xs-12">
      <img [src]="item.imagePath" alt="{{item.name}}" class="img-responsive"
           style="max-height: 300px" />
<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <h1>{{item.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{item.description}}
  </div>
  <div class="col-xs-12">
    <button type="submit" class="btn btn-success" (click)="onSubmit()">Send to cart</button>
    <button type="button" class="btn btn-danger" >Cancel</button>
  </div>
</div>
  </div>
</div>

